body {
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
}

.small-container {
    margin: 0 auto;
    width: 92%;
    max-width:768px;
}

h1#site-title{
    font-size: 72px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: .125em;
    text-align: center;
    font-weight: 700;
}

h1#article-title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 22px;
    margin-top: 48px;
}

.topnav {
    background-color: #c76b98;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #270f36;
    color: white;
}

.topnav .icon {
    display: none;
}