body {
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
}

.small-container {
    margin: 0 auto;
    width: 92%;
    max-width:768px;
}

h1#site-title{
    font-size: 72px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: .125em;
    text-align: center;
    font-weight: 700;
}

h1#article-title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 22px;
    margin-top: 48px;
}

h2 {
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 48px;
}

p {
    line-height: 1.25;
    margin-bottom: 1.25em;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

figure {
    margin: 0;
    padding: 12px;
    padding-bottom: 24px;
}

@media all and (min-width: 768px) {
    figure img {
        max-width: 100%;
        height: auto;
        margin-bottom: 12px;
    }
}

@media all and (min-width: 768px) {
    figure.section-image {
        max-width: 320px;
        float: right;
        margin: -20px -62px 32px 20px;
    }
}

img { 
    width: auto;
    height: auto;
}

p img {
    float: right;
    max-width: 60%;
    margin-left: 20px;
    margin-bottom: 32px;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

@media all and (min-width: 376px) {
    nav ul {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}

nav ul li {

}

nav ul li a {
    background-color: #c76b98;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    overflow: hidden;
    float: left;
    color: #f2f2f2;
    text-align: center;

}

header nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

header nav ul li a.active {
    background-color: #270f36;
    color: white;
}

header nav ul {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

footer nav {

}

footer nav ul li a {
    color: white;
}

footer nav ul a:hover {
    text-decoration: underline;
}

@media all and (min-width: 376px) {
    footer#page-footer {
        padding: 32px 0;
        margin-top: 64px;
        text-align: center;
        background-color: #1C304A;
        color: white;
    }
}

* {
    box-sizing: border-box;
}

.left-column {
    float: left;
    width: 75%;
    padding-left: 20px;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

 /* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} 